{% load staticfiles %}
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
    {% block body %}
    {% if form.errors %}
        <p>You're logged in already!</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>

                <div class="login-form">
                    <div class="control-group">
                    <!--<input type="text" class="login-field" value="" placeholder="username" name="username">-->
                    <a>Username</a>
                    <label class="login-field-icon fui-user" for="login-name">{{ form.username }}</label>
                    </div>

                    <div class="control-group">
                    <!--<input type="password" class="login-field" value="" placeholder="password" name="password">-->
                    <a>Password</a>
                    <label class="login-field-icon fui-lock" for="login-pass">{{ form.password }}</label>
                    </div>

                    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
                    <input type="hidden" name="next" value="{{ next }}" />
                    <br>
                </div>
            </div>
        </div>
    </form>

    {% endblock %}
</body>
</html>